<div class="container">
  <h1>Patients assigned to <%= @doctor %></h2>
    <ul class="list-group list-group-flush">

    <% @patients.each do |patient|%>
      <% if patient.doctor_id == @doctor_id %>
      <li class="list-group-item"><a href="patient/<%= patient.id %>"><%= patient.name %>, <%= patient.birthday %></a></li>
      <% end %>
      <% end %>
  </ul>
</div>

<div class="container">
  <a href="/"> <button class="btn btn-outline-danger" type="button" name="button">Go Home</button> </a>
</div>
