<div class="container">
  <h1><%= @patient.name%>, <%= @patient.birthday%></h1>
  <h3>Doctor assigned: <%= @doctor.name%>, <%=@temp_spec%></h3> 
</div>


<div class="container">
  <a href="/add_patient"><button type="button" name="button">Go Back</button></a>
</div>
